*/target
*/.idea

hw07/lesson7/target/

hw07/lesson7/profile.properties

hw08/lesson8/src/main/resources/application.properties

hw08/lesson8/target/

hw08/lesson8/.idea/

hw09/lesson9/.idea/

hw09/lesson9/src/main/resources/application.properties

hw10/lesson10/node_modules/

hw10/lesson10/.idea/

lesson11/frontend/node_modules/

lesson11/frontend/.idea/

lesson11/backend/src/main/resources/application.properties

hw11/frontend/node_modules/

hw11/frontend/.idea/

hw11/backend/src/test/

hw11/backend/src/main/resources/application.properties
