*/target
*/.idea

hw07/lesson7/target/

hw07/lesson7/profile.properties

hw08/lesson8/src/main/resources/application.properties

hw08/lesson8/target/

hw08/lesson8/.idea/

hw07/lesson7/.idea/

hw07/tmp.txt

hw09/lesson9/.idea/

hw09/lesson9/target/

hw09/lesson9/HELP.md
